.Faq .Question {
  margin-left: 15px;
  margin-right: 15px;
}

.Faq h2 { /* Headings for FAQ Sections */
  color: rgb(255, 57, 93);
}

.Faq .Question h3 {
  font-weight: bold;
  color: #222;
}

.Faq .Question p {
  color: #333;
}