#footer {
  display: flex;
  flex-flow: row wrap;
  background: #ffeaee;
}

#footer .footerBlock {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#footer .footerBlock ul {

  list-style-type: none;
  padding: 10px;


}

#footer .language {
    color: #F781BE;
}

#footer #sponsors-and-affiliates {
  flex-grow: 2

}

#footer #facebook {
    border: none;
    overflow: hidden;
}
 #footer #social-media {
  flex-grow: 2;
} 

#footer #language-switcher {
  flex-grow: 2;

}

#footer #legal-stuff {
  flex-grow: 1;
}
