#footer {
  display: flex;
  flex-flow: row wrap;
  background: #ffeaee;
}

.footerBlock h4 {
  font-weight: bolder;
  text-transform: uppercase;
}

#footer .footerBlock {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 10px;
}

#footer .footerBlock ul {
  list-style-type: none;
  padding: 10px;
}

#footer .language {
  color: #F781BE;
}

#footer #sponsors-and-affiliates {
  flex-grow: 1
}

 #footer #social-media {
  display: block;
  text-align: left;
  flex-grow: 1;
} 

#footer #language-switcher {
  flex-grow: 1;
}

#footer #legal-stuff {
  background: #ffc8d2;
  width: 100%;
}