@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.title-container {
  margin: 0;
  padding: 0;
}

.title-container div {
  display: inline-block;
}

.title-container h2 {
  font-size: 110%;
  margin: 3px auto 0 auto; /* top right bottom left */
  padding: 0;
  text-align: center;
  width: 100%;
}

.title-container h1 {
  font-weight: lighter;
  font-family: 'Raleway', sans-serif;
  font-size: 290%;
  text-align: center;
  width: 100%;
}

.title-container #meeting-time {
  font-weight: normal;
  font-size: 110%;
  padding: 4px; /* Some breathing room pls */
  margin: 0 auto 1em auto; /* centers it */
}

.title-container #slider {
    background-color: transparent;
    background: transparent;
}

.slider-caption {
  background: rgba(255, 255, 255, 0.5);
}

#front-images {
  margin: 0 auto 0 auto;
  padding: 0 1rem 0 1rem;
  text-align: left;
}

#front-images .image{
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.title-container .pink {
    color: #F781BE;
}


.slick-list {
    overflow: hidden;
    width: 90vw;
    margin: 0;
    padding: 0;
}

#intro-blurb {
  width: 100%;
}

#front-images {
  background-image: url("https://images.unsplash.com/photo-1519882189396-71f93cb4714b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  font-size: 80%;
  color: rgba(0,0,0,0.7);
  flex-grow: 1;
  max-width: 100%;
}

#front-images p {
  background: rgba(255, 255, 255, 0.7);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0.5rem;
}

#welcome-blurb {
  text-align: left;
  vertical-align: top;
  padding: 1rem;
}

#recruitment {
  flex-grow: 2;
  padding: 0.5rem 1rem 1rem 0.5rem;
  text-align: left;
}