.News {
  background-color: white;
  max-width: 800px;
}

.News h2, h3 {
  font-weight: lighter;
  margin: 0 0 10px 0; /* top right bottom left */
  padding: 0;
}

.NewsStory {
  color: #333;
  width: 100%; /* Fill width of news container */
  margin: 0 0 10px 0;
}

.NewsStory h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.NewsStory p {
  margin: 0;
  padding: 0;
  text-indent: 1em;
}

.news-container {
  display: block;
}